<div class="d-flex flex-column vh-100 background-img" style="max-height:100%;height:100%">
  <% include ./partials/message %>
  <div class="d-flex flex-row justify-content-between align-items-center mb-4 child-background-1">
    <a href="/article/addArticle" class="text-white text-decoration-none"><span><i
          class="fas fa-arrow-circle-left"></i>Add Article</span></a>
    <a href="/article" class="text-white text-decoration-none"><span>Home<i
          class="fas fa-arrow-circle-right"></i></span></a>
  </div>
  <h1 class="display-5 text-center text-white child-background-1">
    Articles Posted
  </h1>
  <form class="form-inline child-background-1 ml-4" method="post" action="/article/searchTitle">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="searchTitle" placeholder="Title..." name="searchTitle" />
    </div>
    <button type="submit" class="btn btn-primary mb-2 text-capitalize">
      Search title
    </button>
  </form>
  <ul class="nav d-flex flex-column child-background-1">
    <% for(var i = 0; i < articles.length; i++){ %>
    <li class="nav-item mb-4 mt-4 ml-4">
      <div class="card-group">
        <div class="card-opacity rounded">
          <div class="card-body shadow">
            <h5 class="card-title d-flex flex-row">
              <small class="text-muted text-capitalize flex-grow-1"><i class="fas fa-book-open"></i>
                Title:<h5 class="d-inline-block"><%= articles[i].title %></h5></small>
              <a class="mr-3" href="/article/editArticle/<%= articles[i]._id %>"><button type="button"
                  class="btn btn-secondary">Edit</button></a><a><button type="button"
                  class="btn btn-danger">Delete</button></a>
            </h5>
            <p class="card-text card-font-size"><%= articles[i].body %></p>
            <p class="card-text">
              <small class="text-muted">By: <%= articles[i].author %></small>
            </p>
            <p class="card-text">
              <small class="text-muted">Posted at: <%= articles[i].date %></small>
            </p>
          </div>
        </div>
      </div>
    </li>
    <% } %>
  </ul>
</div>